#standard input
config.json

#created with make filter
jpegFilter

#created with make init
package-lock.json
package.json
node_modules/

#input and output pictures
input.photo
outputJpeg.jpg
output.png
jpegToText.txt